.debug{
    background-color: rgba(165, 42, 42, 0.555);
}

header a{
    color: black;
}
header a:hover{
    color: black;
    color: rgb(240, 223, 207);
}

ul{
    list-style: none;
}

.long-text{
    color: rgb(105, 62, 5);
}

.adult{
    font-style: italic;
    color: blueviolet;
}

.young{
    font-style:oblique;
    color: white;
}

.adult{
    font-weight: bold;
    font-style: italic;
    color: rgb(226, 43, 128);
}

.data, .home-img{
    width: 50%;
}
.about-img, .friends, .enemies{
    width: calc(100%/3);
    font-weight: bold;
}

.enemies, .friends li{
    font-size: 1.5rem;
}


._nav ul li{
    margin: 0 20px;
}
._nav ul li a{
    color: black;
    font-size: 2rem;
}
._nav ul li:hover a{
    color: rgb(240, 223, 207);
}

/* social  */

.social i{
    font-size: 5rem;
    background-color: rgba(165, 42, 42, 0.568);
    padding: 40px;
    border-radius: 20px;
    margin: 30px;
}
