.adult{
    font-weight: bold;
    font-style: italic;
    color: blueviolet;
}

.joung{
    font-style: italic;
    color: rgb(43, 101, 226);
}

.adult{
    font-weight: bold;
    font-style: italic;
    color: rgb(226, 43, 128);
}
